<h1><b class="red-text">/</b><b class="blue-text">/</b> SPOTLIGHT</h1>
<a href="/posts/12">
  <div class="spotlight" style="background-image: url('https://pi.tedcdn.com/r/pf.tedcdn.com/images/playlists/big_deal_mars_2451387841_1200x627.jpg?c=1050%2C550&w=1050')">
    <div class="spotlight-info">
      <div class="spotlight-title">
        IS THERE FROZEN LIFE ON MARS?
      </div>
      <div class="spotlight-description">
        A new study finds frozen microbes could indeed survive the harsh martian climate for millions of years.
      </div>
    </div>
  </div>
</a>

<h1><b class="red-text">/</b><b class="blue-text">/</b> ARTICLES</h1>
<% @posts.each do |post| %>
  <% if post.title != "Is there frozen life on Mars?" then %>
    <%= link_to post, :class => "regular-link" do %>
      <div class="article-thumbnail" style="background-image: url('<%= post.thumbnail %>')">
        <div class="article-info">
          <div class="article-title">
            <%= post.title %>
          </div>
          <div class="article-description">
            <%= post.description %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <!--<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<% end %>
<br>

<!--<%= link_to 'New Post', new_post_path %>-->
